*{
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: rgb(19, 19, 19);
  background-size: cover;
}
.header{
  width: 100%;
  height: 80vh;
  background-image:url(Pictures/merrie.png);
  background-size: cover;
  background-position: center;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 25px 8% 120px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 80px;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.dropdown{
  border-radius: 5px 5px 0 0;
  text-align: center;
  min-width: 134px ;
  background-color: #888787;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  text-decoration: underline;
  display: none;
  position: absolute;
  background-color: #e7dbdb;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 0 0 5px 5px;
}
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.reclame{
  margin-left: 4%;
  max-width: 35% ;
  color: #fff;
}
.reclamebtn{
  width: 41%;
  height: 60px;
  border-radius: 15px;
  border: #b5753c;
  color: #b5753c;
  font-size: 165%;
}
.content{
  margin: 5% 3%;
  display: grid;
  grid-template-columns: 50% 50%;
  color: #fff;
  
  align-content: space-between;
}

.sign-in{
  padding-top: 5%;
  text-align: center;
  border-radius: 25px;
  margin-left: 10%  ;
  background-color: #a79e96;
}