*{
  color: #F0F0F2;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #3B3B40;
  background-size: cover;
}
.header{
  width: 100%;
  height: 80vh;
  background-image: url(Pictures/merrie.png) ;
  background-size: cover;
  background-position: center;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 25px 8% 120px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 80px;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #F0F0F2;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #F0F0F2;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.dropdown{
  border-radius: 5px 5px 0 0;
  text-align: center;
  min-width: 134px ;
  background-color: #A39588;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  text-decoration: underline;
  display: none;
  position: absolute;
  background-color: #BDB2AB;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 0 0 5px 5px;
}
.dropdown-content a {
  color: #F0F0F2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.reclame{
  margin-left: 4%;
  max-width: 35% ;
  color: #F0F0F2;
}
.reclamebtn{
  width: 41%;
  height: 60px;
  border-radius: 15px;
  border: #A39588;
  color: #A39588;
  font-size: 165%;
}
.content{
  margin: 5% 3%;
  display: grid;
  grid-template-columns: 50% 50%;
  color: #F0F0F2;
  align-content: space-between;
}
.info{
  max-width: 75%;
}
#sign-in-card{
  max-width: 40%;
  padding: 0 10% 0 10%;
  align-items : center;
  display: inline;
  padding-top: 5%;
  text-align: center;
  border-radius: 25px;
  margin-left: 10%  ;
  background-color: #BDB2AB;
}
.strikethrough {
  position: relative;
}
.strikethrough:before {
  color: #ff0000;
  position: absolute;
  content: "";
  left: 0%;
  top: 40%;
  right: 0%;
  border-top: 4px solid;
  border-color: inherit;
  transform:rotate(-10deg);
}
.price-sign-in{
  padding-top: 5%;
  padding-bottom: 5%;
  display: inline-flex;
}
.id-icon{
  float: right;
  position: relative;
  transform: rotate(45deg);
}
.bonus-sign-in{
  padding-bottom: 10%;
  padding-left: 10%;
  text-align: left
}

.input-sign-in{
  color: #A39588;
  display: grid;
  grid-template-columns: 50% 50%;
}

#input-sign-in-2{
 display: flex;
}
#input-a{
  width: 80%;
  border: solid 1px black;
  color: #F0F0F2;
  background-color: #d4c7bf;
  border-radius: 5px;
  padding: 4px 0px 4px 7px ;
}
#input-b{
  width: 80%;
  border: solid 1px black;
  color: #F0F0F2;
  background-color: #d4c7bf;
  border-radius: 5px;
  padding: 4px 0px 4px 7px ;
}
#sign-in-btn{
  width: 100%;
  font-size: 150%;
  background-color: #A39588;
  border: 0;
  padding: 5% 5% 5% 5%;
  border-radius: 5px;
  margin-top: 5%;
}
.proefles{
  padding: 5% 20% 0 20%;
  text-align: center;
}
.textvak{
  margin-top: 20px;
  color: #F0F0F2;
  background-color: #bdb2ab;
  border-radius: 5px;
  padding: 4px 0px 4px 7px ;
  border: 0px;
}
.proefknop{
  margin-top: 20px;
  background-color: #A39588;
  padding: 15px 100px 15px 100px;
  border-radius: 8px;
  font-size: larger;
}
#content-lorem{
padding: 0 20% 0 10%;
}
#service{
  text-align: center;
}
#reviews{
  display: grid;
  grid-template-columns: 32% 32% 32%
  4%
}

.textvak{
  margin-top: 20px;
  color: #F0F0F2;
  background-color: #bdb2ab;
  border-radius: 5px;
  padding: 4px 0px 4px 7px ;
  border: 0px;
}
.proefknop{
  margin-top: 20px;
  background-color: #A39588;
  padding: 15px 100px 15px 100px;
  border-radius: 8px;
  font-size: larger;
  border: 0px;
}

.flex-container{
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50% ;
  align-items: center;
}

.flex-child{
  width: 50%;
  float: left;
  padding-left: 50%;
  text-align: center;
}

.resize{
  width: 44%;
}
#line-header{
 width: 30px;
  text-align:left;
  margin-left:0;
  height: 5px;
  color: #F0F0F2;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #3B3B40;
  background-size: cover;
}
.header{
  width: 100%;
  height: 80vh;
  background-image: url(Pictures/merrie.png) ;
  background-size: cover;
  background-position: center;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 25px 8% 120px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 80px;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #F0F0F2;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #F0F0F2;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.dropdown{
  border-radius: 5px 5px 0 0;
  text-align: center;
  min-width: 134px ;
  background-color: #A39588;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  text-decoration: underline;
  display: none;
  position: absolute;
  background-color: #BDB2AB;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 0 0 5px 5px;
}
.dropdown-content a {
  color: #F0F0F2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.reclame{
  margin-left: 4%;
  max-width: 35% ;
  color: #F0F0F2;
}
.reclamebtn{
  width: 41%;
  height: 60px;
  border-radius: 15px;
  border: #A39588;
  color: #A39588;
  font-size: 165%;
}
.content{
  margin: 5% 3%;
  display: grid;
  grid-template-columns: 50% 50%;
  color: #F0F0F2;
  align-content: space-between;
}
.info{
  max-width: 75%;
}
#sign-in-card{
  max-width: 40%;
  padding: 0 10% 0 10%;
  align-items : center;
  display: inline;
  padding-top: 5%;
  text-align: center;
  border-radius: 25px;
  margin-left: 10%  ;
  background-color: #BDB2AB;
}
.strikethrough {
  position: relative;
}
.strikethrough:before {
  color: #ff0000;
  position: absolute;
  content: "";
  left: 0%;
  top: 40%;
  right: 0%;
  border-top: 4px solid;
  border-color: inherit;
  transform:rotate(-10deg);
}
.price-sign-in{
  padding-top: 5%;
  padding-bottom: 5%;
  display: inline-flex;
}
.id-icon{
  float: right;
  position: relative;
  transform: rotate(45deg);
}
.bonus-sign-in{
  padding-bottom: 10%;
  padding-left: 10%;
  text-align: left
}

.input-sign-in{
  color: #A39588;
  display: grid;
  grid-template-columns: 50% 50%;
}

#input-sign-in-2{
  display: flex;
}
#input-a{
  width: 80%;
  border: solid 1px black;
  color: #F0F0F2;
  background-color: #d4c7bf;
  border-radius: 5px;
  padding: 4px 0px 4px 7px ;
}
#input-b{
  width: 80%;
  border: solid 1px black;
  color: #F0F0F2;
  background-color: #d4c7bf;
  border-radius: 5px;
  padding: 4px 0px 4px 7px ;
}
#sign-in-btn{
  width: 100%;
  font-size: 150%;
  background-color: #A39588;
  border: 0;
  padding: 5% 5% 5% 5%;
  border-radius: 5px;
  margin-top: 5%;
}


#content-lorem{
  padding: 0 20% 0 10%;
}
#service{
  text-align: center;
}
#reviews{
  display: grid;
  grid-template-columns: 32% 32% 32%
  4%
}


/*proefles css begin*/
.proefles{
  padding: 5% 20% 0 20%;
  text-align: center;
}

.textvak{
  margin-top: 20px;
  color: #F0F0F2;
  background-color: #bdb2ab;
  border-radius: 5px;
  padding: 4px 0px 4px 7px ;
  border: 0px;
}
.proefknop{
  margin-top: 20px;
  background-color: #A39588;
  padding: 15px 100px 15px 100px;
  border-radius: 8px;
  font-size: larger;
  border: 0px;
}

.flex-container{
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50% ;
  align-items: center;
}

.flex-child{
  width: 50%;
  float: left;
  padding-left: 50%;
  text-align: center;
}

.resize{
  width: 44%;
}
#line-header{
  width: 30px;
  text-align:left;
  margin-left:0;
  height: 5px;
}

#line-section{
  width: 1200px;
  align-items: center;
}

#line-section{
  width: 600px;
  align-items: center;
  margin-left: 200px;
}

.mid-section{
  align-items: center;
}
#fname{

  color: #F0F0F2;
  background-color: #bdb2ab;
  border-radius: 5px;
  padding: 4px 0px 4px 7px ;
  border: 0px;
}
/*proefles css eind */